.cdk-virtual-scroll-viewport {
  height: 100vh;
  width: 100%;
  margin: auto;
}

.item {
  height: 300px;
  margin: auto;
  display: block;
  // width: fit-content;
}

.gif {
  display: block;
  height: 90%;
}

.btn {
  height: 10%;
}

.buttons {
  position: absolute;
  right: 0;
  z-index: 999;
}
